html {
  margin: 0;
}

body {
  margin:0;
  padding: 0;
}

.bt1 { border-top: 1px solid; }
.bb1 { border-bottom: 1px solid; }

.pt1 { padding-top: 1rem; }

.no-style {}

a.no-style,
a.no-style:hover {
  text-decoration: none;
  color: currentColor;
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.border-button {
  background: transparent;
  border: 1px solid currentColor;
  padding: .75em;
  border-radius: .25em;
  display: inline-block;
  margin-right: 1rem;
}

.border-button:hover {
  box-shadow: inset 0 0 1rem 0 rgba(026,010,008,.1);
}

.border-button.orange:active,
.border-button.orange:focus {
  background-color: rgba(255,117,044,1);
  border-color: currentColor;
  color: white;
}

.orange:focus {
  outline-color: rgba(255,117,044,1);
}


/** fixing a footer problem **/
footer .social a {
  display: inline-block;
  margin-left: .25em;
}

/** membership forms stuff **/
.individual-plan .inner {
  background-color: rgba(000,075,124,1);
}

.team-plan .inner {
  background-color: rgba(040,109,076,1);
}

.plan-options { margin: 0; }

.plan-options li {
  border-top: 1px solid white;
  display: block;
}

.plan-options li:hover {
  background-color: rgba(250,252,255,.75);
  box-shadow: 0 0 .25em 0 rgba(026,010,008,.33);
}

.plan-options li:after {
  clear:both;
  content: '';
  display: table;
}

.plan-options button {
  width: 70%;
  float: left;
  display: block;
  line-height: 1rem;
  height: 3rem;
  border:none;
  color:white;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
}

.individual-plan .plan-options li:hover button,
.individual-plan .plan-options button:hover {
  background-color: rgba(255,117,044,1);
}
.team-plan .plan-options li:hover button,
.team-plan .plan-options button:hover {
  background-color: rgba(241,097,074,1);
}

.plan-options .price {
  width: 30%;
  float: left;
  display: block;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  font-size: 1.25rem;
}

.plan-options li:hover .price {
  color: rgba(026,010,008,1);
}

.border-button.individual-plan:active,
.border-button.individual-plan:focus {
  background-color: rgba(000,075,124,1);
  color:white;
}

.border-button.individual-plan:focus {
  outline-color: rgba(000,075,124,1);
}

.border-button.team-plan:active,
.border-button.team-plan:focus {
  background-color: rgba(040,109,076,1);
  color:white;
}

.border-button.team-plan:focus {
  outline-color: rgba(040,109,076,1);
}


/** okay. buttons on the form? **/
.editable-empty button {
  background: transparent;
  color: rgba(241,97,74,1);
  border: none;
  border-bottom: 1px dashed;
  font-size: 1em;
  padding: 0 0 .25em 0;
}

.form-group::after,
.editable-row::after {
  content: '';
  display: table;
  clear: both;
}

.col-md-3, .col-md-9, .editable-input, .editable-buttons {
  float: left;
}

.editable-input input {
  font-size: 1em;
}

.col-md-3 {
  width: calc(100% / 12 * 3);
  padding-left: .75em;
  padding-right: .75em;
}

.col-md-9 {
  width: calc(100% / 12 * 9);
}

.editable-input input {
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,75,124,1);
  padding: .25em;
}

.editable-input input:active,
.editable-input input:focus {
  background-color: rgba(0,75,124,.15);
  outline: rgba(0,75,124,.15);
}
